### Onion Configuration Settings
---

onion:
    mongodb:
        host: 127.0.0.1
        port: 27017
        appname: onion
        socketTimeoutMS: 5000
    ### Toggle application level debug (does not toggle framework debugging)
    debug: true

cache.redis:
    expire_time: 60
    host: 127.0.0.1
    port: 6379
    db: 1

### Where external (third-party) plugins are loaded from
# plugin_dir: /var/lib/onion/plugins/

### Where all plugin configurations are loaded from
# plugin_config_dir: /etc/onion/plugins.d/

### Where external templates are loaded from
# template_dir: /var/lib/onion/templates/

### The log handler label
# log_handler: colorlog

### The output handler label
# output_handler: jinja2

log.colorlog:
    colors:
        DEBUG: cyan
        INFO: green
        WARNING: yellow
        ERROR: red
        CRITICAL: red,bg_white

### Where the log file lives (no log file by default)
# file: null

### The level for which to log.  One of: info, warning, error, fatal, debug
# level: info

### Whether or not to log to console
# to_console: true

### Whether or not to rotate the log file when it reaches `max_bytes`
# rotate: false

### Max size in bytes that a log file can grow until it is rotated.
# max_bytes: 512000

### The maximun number of log files to maintain when rotating
# max_files: 4
